
    *{
        font-weight:600;
    }
    html, body {
        padding:0;
        margin:0;
        outline:none;
        border:0;
    }
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    .brand-logo{
        margin-left:10px;
    }

    @media only screen and (max-width: 992px) {
        nav .brand-logo {
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
        }
    }

    .starter {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url('d.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .starter span.hero {
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        display: block;
        margin: 15vh 0;
        font-size: 4em;
        text-shadow: #000000 0 0 10px;
    }

    img{
        width: 100%;
    }

    .title{
        font-size: 42px;
        color: white;
        font-weight: 700;
        border-bottom: 2px white solid;
        text-transform: uppercase;
    }

    .parallax-container {
        position: relative;
        overflow: hidden;
        height: 250px;
    }

    .pano {
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }

    blockquote {
        margin: 10px 0;
        padding-left: 1.5rem;
        border-left: 5px solid rgba(0,0,0,.2);
    }

    .sidenav-overlay{
        z-index: 2;
    }

    .pack-btns a{
        margin: 5px;
    }